.ul-nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

}
.link-nav{
    
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

.ul-nav li {
    padding: 20px;
    list-style: none;
    
}
.ul-nav li:hover{
    background-color: rgb(11, 44, 66);
}